.community-page + .main-footer {
	display: none;
}
.main-footer ul {
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;
}
.main-footer ul li span {
	color: #fff;
}
.main-footer ul li img {
	margin-right: 3px;
}
.main-footer ul li + li {
	padding-top: 7px;
}
.main-footer h4 {
	color: #fff;
	font-weight: bold;
	margin-bottom: 15px;
}
.main-footer .col-md-3:last-child .widget {
	padding-bottom: 0;
}
.main-footer .widget {
	padding-bottom: 20px;
}
@media (min-width: 768px) {
	.main-footer .widget {
		padding-bottom: 0;
	}
}
.main-footer a {
	color: #fff;
	text-decoration: none;
}
.main-footer a:hover {
	text-decoration: underline;
}
.main-footer .top-section {
	background-color: #174882;
	padding: 3rem 0;
}
.main-footer .bottom-section {
	background-color: #000024;
	padding: 10px 0;
	text-align: center;
}
.main-footer .bottom-section p {
	font-size: 12px;
	color: #fff;
	margin: 0 auto;
}
