.helpContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1em;
}

.helpHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7em;
    font-size: 1.1em;
}

.mapContainer {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    position: relative;
}

.mapBox {
    width: 95%;
    height: 100%;
}

.mapForm {
    position: absolute;
    z-index: 5;
    top: 0.5em;
    left: 3em;
    background-color: white;
    padding: 0.7em 2em;
    border-radius: 10px;
    overflow: hidden;
}

.mapForm::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0em;
    left: 0;
    height: 2.5em;
    width: 100%;
    background-color: var(--light-blue);
}

.formBtns {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.mapBtn {
    font-weight: bold;
    color: var(--red);
    background-color: var(--white);
    padding: 0.2em 0.7em;
    border: 1px solid var(--black);
    border-radius: 5px;
}

.btnAlert {
    padding: 0.2em 0.7em;
}

.stepsContainer {
    border: 1px solid var(--dark-blue);
    border-radius: 5px;
    width: 90%;
    padding: 0.2em 1em;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 1px var(--dark-blue);
}

@media (width < 768px) {
    .mapBox, .stepsContainer {
        width: 100%;
    }
    .mapForm {
        left: 1em;
    }
}

.helpBoroughs {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8em;
    font-weight: 500;
}

.boroughs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
}

.boroughBox {
    border: 1px solid black;
    text-align: center;
    padding: 0.2em;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.boroughBox:hover {
    background-color: var(--blue);
    color: white;
}