.wrapper{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.imgContainer {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.img {
    max-height: 18em;
    max-width: 95%;
}

.accordion{
    padding: 1em;
}

.item{
padding: 2.3em 1.3em 0.7em;
border: 1px solid black;
border-radius: 10px;
position: relative;
overflow: hidden;
background-color: var(--off-white);
min-height: 10em;
box-shadow: 1px 4px 3px darkgray;
}

.item::before {
    content: '';
    width: 100%;
    height: 2em;
    background-color: var(--light-blue);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

}

.buttonContainer {
    text-align: center;
}

.helpBtn {
    background-color: var(--red);
    color: white;
    border: 0;
    border-radius: 10px;
    padding: 0.5em 1em;
    transition: 0.2s ease-out;
}

.helpBtn:hover {
    background-color: var(--red);
    opacity: 0.92;
}